<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
</head>
<body>
    <center>
        <form th:action="@{/board/create}" method="post">
            <h1>게시글 작성</h1>

            <div>
                <label for="title">제목</label>
                <input type="text" id="title" name="title">
            </div>

            <div>
                <label for="content">내용</label>
                <textarea id="content" name="content" cols="20" rows="20"></textarea>
            </div>

            <div>
                <button>작성하기</button>
            </div>
        </form>
    </center>
</body>
</html>