<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
    <style>
        th, td {
            text-align : center;
        }
    </style>
</head>
<body>
    <center>
        <h1>게시글 목록</h1>

        <form th:action="@{/board/list}" method="get">
            <input type="text" name="kw" id="kw">
            <button>검색</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일시</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${boards}">
                    <td th:text="${board.id}"></td>
                    <td><a th:href="@{|/board/detail/${board.id}|}" th:text="${board.title}"></a></td>
                    <td th:text="${board.author}"></td>
                    <td th:text="${#temporals.format(board.createDt, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${board.hit}"></td>
                </tr>
            </tbody>
        </table>
        <div>
            <button><a th:href="@{/board/create}">글 작성하기</a></button>
        </div>
    </center>
</body>
</html>