<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
</head>
<body>
<center>
    <h1>마이페이지</h1>

    <table>
        <tr>
            <th>회원번호</th>
            <td th:text="${member.id}"></td>
        </tr>
        <tr>
            <th>아이디</th>
            <td th:text="${member.memberId}"></td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td>
                <span>********</span>
            </td>
        </tr>
        <tr>
            <th>비밀번호 확인</th>
            <td>
                <span>********</span>
            </td>
        </tr>
        <tr>
            <th>이름</th>
            <td th:text="${member.name}"></td>
        </tr>
        <tr>
            <th>전화번호</th>
            <td th:text="${member.phone}"></td>
        </tr>
        <tr>
            <th>이메일</th>
            <td th:text="${member.email}"></td>
        </tr>
        <tr>
            <th>가입일자</th>
            <td th:text="${member.createDt}"></td>
        </tr>
        <tr>
            <th>수정일자</th>
            <td th:text="${member.updateDt}"></td>
        </tr>
    </table>

    <div>
        <button><a th:href="@{|/member/mypage/${member.memberId}/update|}">수정</a></button>
        <form th:action="@{|/member/mypage/${member.memberId}/delete|}" method="post">
            <button>회원탈퇴</button>
        </form>
    </div>
</center>
</body>
</html>