<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.practice.simple_board.board.mapper.BoardMapper">
    <insert id="create" parameterType="BoardVO">
        insert into board(title, content, author, create_dt, delete_yn, hit)
        values(#{title}, #{content}, #{author}, now(), 'N', 0)
    </insert>

    <select id="selectAll" resultType="BoardVO">
        select id, title, content, author, create_dt, update_dt, delete_yn, hit
        from board
        where delete_yn = 'N'
    </select>
</mapper>